form { margin: 0px 10px; }

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.container { max-width: 360px; }

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
  width: 35%;
}

.left { float: left; }

.right { float: right; }


.main1 {
	width: 100%;
	height: 1000PX;
/* 	background: url("https://i.gifer.com/Cat.gif");
	background-repeat: no-repeat;
	background-size: cover; */
/* 	display: block;
	margin-left: auto;
	margin-right: auto; */
	background:white;
}